# install Git in case something in requirements.txt will be installed from Git repo
RUN {{ package_install_cmd }} git {{ package_clean_cmd }}
{% if packages %}RUN {{ package_install_cmd }} {{ packages|join(" ")  }} {{ package_clean_cmd }}{% endif %}
COPY requirements.txt .
RUN pip install -r requirements.txt && pip cache purge
{{ mlem_install }}
